.writer-img {
  width: 150px;
  height: 150px;
}

body {
  background-color:lightskyblue;
}

* {
  text-align: center;
}

p {
  font-family:Arial;
  font-size: 18px;
  background-color: white;
  color: black;
  margin-left: 20px;
  margin-right: 20px;
}