.writer-img {
  width: 150px;
  height: 150px;
  float: left;
}

body {
  background-color:darkgray;
}

* {
  text-align: center;
}

p {
  font-family:Arial;
  font-size: 18px;
  font-weight: bold;
  background-color: black;
  color: white;
  margin-left: 50px;
}